body{
    margin: 0;
    padding: 2% 1%;
}


.carousel-item{

    width: 200px;
    height: 600px;
}


.carousel-item img{

    position: relative;
    right: -1100px;
    top: 90px;
}


.carousel-caption{

    position: relative;
    top: -359px;
    right: 200px;
    text-align:start;
    padding: 90px 50px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    color: black;
}


.carousel-caption h2{

    font-size: 20px;
    display: flex;
    justify-content: baseline;
}